*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
    }

    li{
        list-style: none;
    }

    .wrapper{
    display:grid;
    grid-template-areas:
    "navbar"
    "showcase"
    "instructor"
    "footer";
    grid-template-rows: 3% 1fr 44% 10%;
    }

   .showcase{
    background-image:url(images/fitness.jpg);
    background-size:cover;
    }

    .flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.5rem;
    }

    section{
        grid-area: instructor;
    }

    .nav{
    grid-area: nav;
    font-family: sans-serif;
    }

   main{
    grid-area: showcase;
    }

    .footer-home{
    grid-area: footer;
    background-color: #232436;
    }

    span{
        display: block;
    }

    .fitness{
        color: #1F232F;
        display:inline;
    }

    .fitness-red{
        color:#9D2F31;
        margin-right: 1rem;
    }

    


    h1{
       margin-top: 6rem;
        color: #90B2B8;
        font-size: 2rem;
        text-align: center;
        font-family: 'Roboto Mono', monospace;
        
    }

    h2{
        font-size: 1.5rem;
    }

    .height{
        font-size: 5rem;
        font-weight: 600;
        color:#9D2F31;
        font-family: 'Libre Baskerville', serif;
        text-align: center;
    }


    p{
        color: #90B2B8;
        text-align: center;
        font-family: 'Roboto Mono', monospace;
        font-size: 1.5rem;
    }

    .btn{
        background-color: #1F232F;
        color: #9D2F31;
        font-size: 1.3rem;
    }

    .btn:hover{
        color: #90B2B8 ;
    }

    .img-logo{
        position:relative;
        bottom:2.4rem;
        left: 3rem;
    }

    img{
        width: 8rem;
    }

    header{
        background-color: #232436;
    }

    .next{
        color: #9D2F31;
    }

    .fab{
        margin-right: 0.5rem;
    }

    footer{
        height: 50vh;
    }

    .footer__links .footer__link--wrapper a{
        color: #8C8080;
    }

    .footer__links .footer__link--wrapper h2{
        color: #8C8080;
    }

    .footer__container{
    background-color: #232436;
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }

    #footer__logo{
        color: #fff;
        display: flex;
        align-items: center;
        cursor: pointer;
        text-decoration: none;
        font-size: 2rem;
    }

    .footer__links{
        width: 100%;
        max-width: 1000px;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        position:relative;
        top:1rem;
    }

    .footer__link--wrapper{
        display: flex;
    }

    .footer__link--items{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 16px;
        text-align: left;
        width: 160px;
        box-sizing: border-box;
    }

  
    .footer__link--items > h2{
        color: #fff;
    }

    .footer__link--items a{
        color: #fff;
        text-decoration: none;
        margin-bottom:0.5rem;
    }

    .footer__link--items a:hover{
        color: #90B2B8;
        transition: 0.3s ease-out;
    }

  
    .website__rights{
        color: #8C8080;
        position: relative;
        top: 1rem;
    }

    .fitness-red{
        position: relative;
        top: 1rem;
    }

    .wrap-instructor{
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        gap: 2rem;
        
    }

    .h1instructor{
        color:#232436;
        position: relative;
        bottom: 3rem;
    }


    .instructor{
      padding-bottom: 2rem;
      cursor: pointer;
     
    }

    .instructor h2{
        margin-top: 1rem;
    }


    .ins-width{
        height: 14rem;
        width: 20rem;
        box-shadow: 0px 0px 10px 5px #90B2B8;
    }

    .atop{
        position: relative;
        top: 1rem;
    }

   

    
  /* -------- reviews css code--------------- */
  .reviews-header{
      background-image: url(images/reviews_header.png);
      background-repeat: cover;
      background-position: top;
      height: 39vh;
  }

  .review-header-height{
      height: 9vh;
  }

  .review-logo{
      position: relative;
     bottom: 2.9rem;
  }

  .review-nav{
      position: relative;
      bottom: 0.2rem;
  }

  .reviews-header h1{
      color: white;
      font-size: 3rem;
      text-transform: uppercase;
  }

  .line{
    border-bottom: 1px solid #ccc;;
    margin-top: 3rem;
  }

  .checked{
      color: yellow;
  }

  article, aside{
      margin-top: 2rem;
  }

  article{
      margin-right: 2rem;
  }

 .margintop{
    margin-top: 0.5rem;
 }


.name{
     margin-top: 3rem;
 }

.sep{
    margin: 0 0.5rem;
}

.helpful, .nothelpful{
    cursor: pointer;
}

 /* ---------- Contact css code-------- */
 
 .contacts-body{
    background-image: url(images/fitness.jpg);
    background-size: cover;
    background-repeat: no-repeat;
 }

 .contact-wrapper{
    display: flex;
    flex-direction: row;
}

.flex-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
   
}

.flex-nav ul{
    list-style: none;
    margin-right: 8rem;
    gap: 3rem;
}

.flex-nav ul a{
    text-decoration: none;
}

.contact-info{
    padding: 2rem 2rem;
}

.contact-logo{
    margin-top: 4.7rem;
    
}

.contacts-nav{
margin-top: 0.2rem;
}

.contacts-header{
display: flex;
height: 10vh;
justify-content: space-between;
}

.contact-ul{
margin-right:7rem;
}

.contact-logo{
    padding: 0.2rem;
}

.contact-ul {
margin-right: 7rem;
}

.contact-flex{
display: flex;
flex-wrap: wrap;
gap: 1rem;
}

.contact-flex-info{
display: flex;
flex-direction: column;
height: 38vh;
margin-bottom: 2rem;
opacity: 80%;
width: 30vw;
min-width: 26rem;
max-width: 30rem;
}

.contact-wrapper{
display: flex;
margin-top: 3rem ;
}


.flex-info{
display: flex;
}

.contact-center{
display: flex;
flex-direction: column;
gap: 1rem;
margin-top: 1.5rem;
}

.contact-form{
height: 80vh;
width: 55%;
opacity: 80%;
order: 2;
margin-left: 4rem;
min-width: 25rem;
}


textarea{
width: 90%;
margin-left:2rem
}

.textarea h2{
margin: 2rem 0 0.5rem 2rem;       
}

.contact-center h2{
margin: 1rem 2rem;
text-align: center;
}

.contact-btn{
margin: 1rem 0 0 2rem;
padding: 0.5rem;
width: 8vw;
min-width: 8vw;
max-width: 40vw;
border: none;
background-color: #232436;
color: #90B2B8;
font-weight: 600;
cursor: pointer;
}


label{
font-size: 1.1rem;
}


[type="number"], [type="text"], [type="email"]{
height: 2rem;
}

.firstname{
margin-left: 3rem;
}

.email{
margin-left: 4.8rem;
}

.mobile{
margin-left: 1.2rem;
}

.contact-form, .contact-flex-info{
background-color: #90B2B8;
} 

.contact-footer{
margin-top: 4rem;
height: 40vh;
}

.fas{
margin: 0 1rem 1rem 0;
color: blue;
}

.font-info{
font-size: 1.7rem;
line-height: 1rem;
}

.contact-icon{
font-size: 1.5rem;
margin: 0 auto;
}


.contacts-header{
display: flex;
justify-content: space-between;
height: 9vh;

}

.contact-container{
width: 90%;
max-width: 120rem;
margin: 0 auto;
} 

.contact-item h2{
    margin-bottom: 0.6rem;
}

.contact-item a{
    font-size: 1rem;
    font-weight: 100;
    font-family: system-ui;
}

.contact-position{
    position: relative;
    top: -0.2rem;
}




    /* ------- Exercises code-------- */
  .nav-wrapper{
      display: flex;
      justify-content: space-between;
      height: 9vh;
  } 

   .exercises-logo{

      padding: 0.4rem;
   }

  .exercises-nav{
      margin: 0.3rem 7rem 0;
      font-size: 1rem;
      font-family:sans-serif;
      font-weight: 600;
  }

  .mainwrapper{
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 4rem;
  }

  .exercises-p{
   color: black; 
   text-align:left;
   width: 80%;
   font-size: 1.2rem;
  }

  .exercises-header{
      width: 50%;
  }

  .exercises-h2{
      font-size: 2.3rem;
      margin-bottom: 1.2rem;
  }

  .exercises-img img{
     height: 25vw;
     width: 25vw;
     display: block;
  }

  .exercises-p-1{
   color: black; 
   text-align:left;
   font-size: 1.2rem;
   line-height: 1.5rem;
   width: 90%;

  }

  .line{
      border: 5px solid #E7E7E7;
  }

  .col{
      display: flex;
      flex-direction: column;
      gap: 1rem;
      width: 100%;
      margin-top: 1rem;
  }

  .col1 a{
      font-size: 1.3rem;
      text-decoration: none;
      color: #44A6B8;
      
  }

  .exercises-container{
      width: 80%;
      max-width: 120rem;
      margin: 0 auto;
      margin-top: 4rem;
      margin-bottom: 4rem;
  }

  .exercises-image{
      width: 90%;
  }

  .exercises-a-font {
      font-size:18px;
      width: 4rem;
  }

  .exercises-wrapper{
    display: block; 
    margin-left: 2rem;  
}

.exercises-footer{
   position: relative;
   bottom: 6rem;
}

.exercises-web, .exercises-fit{
    position: relative;
    top: 2rem;
}

.exercises-mtop{
    position: relative;
    top: -1.9rem;
}

/*------------- about us code-------------- */

.about-header{
    height: 9vh;
}



.about-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    max-width: 120rem;
    margin: 0 auto;
    margin-bottom: 7rem;
}

.about-article{
    width: 70%;
    position: relative;
    bottom: 2rem;
}

.about-aside{
    width: 70%;
}


.about-h1{
    text-align: left;
    color: black;
}

.about-img{
    margin-top: 5rem;
    width: 100%;
}

.about-p{
    width: 80%;
    font-size: 1.2rem;
    text-align: left;
    color: black;
}

.about-btn{
    border: none;
    background-color: #44A6B8;
    color: #232436;
    padding: 0.3rem;
    font-weight: 600;
    border-radius: 5%;
    width:20%;
}


.navbar{
    min-height: 70px;
    padding: 0 24px;
    
}

.nav-item{
    font-weight: 600;
}

.nav-link{
    color: #90B2B8;
   
}

.nav-link:hover{
    color: #9D2F31;
}

.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.nav-link{
    transition: 0.7s ease;
}

.hamburger{
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

.height-header{
    height: 9vh;
}


@media screen and (min-width:300px) {
    
    .about-wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .about-article{
        order: 2;
    }

    .about-aside{
       order: 1;
    }

    .about-p{
        width: 100%;
    }

    .about-btn{
        display: block;
        width: 20%;
        min-width: 100px; 
        max-width: 300px;
    }

    .contact-footer{
        height: 40vh;
    }

    .contact-wrapper{
        flex-direction:column;
    }

    .contact-form{
    order:1;
    }

    aside{
        order:2;
    }

    .exercises-mtop{
        padding-top: 8rem;
    }

    .p-1{
        position: relative;
        bottom: 1rem;
    }

      .img-logo{
        position:relative;
        top:-1.5rem;
        left: 1rem;
    }

    .wrapper{
        grid-template-rows: 2.2% 1fr 44% 10%;
    }

    
    .itop{
        position: relative;
        bottom: 1.5rem;
    }

    .wrap-instructor{
        padding-bottom: 14rem;
    }

    .margintop{
        width: 90%;
    }

    .mainwrapper{
        display: flex;
        flex-direction: column;
    }

    .exercises-img{
        order:1;
        
    }

    .exercises-header{
        order: 2;
      
    }

    .exercises-h2{
        text-align: center;
        
    }

    .exercises-p{
        width: 100%;
    }

    
   



}

@media screen and (min-width:900px){
    .col1{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 50%;
        margin-top: 1rem;
    }

    .exercises-wrapper{
        display: flex;
        flex-wrap: wrap;

    }

    .exercises-footer{
        display: flex;
        margin-top: 2rem;
    }

    .contact-footer{
        height: 40vh;
    }

    .img-logo{
        position:relative;
        top:-1.5rem;
        left: 1rem;
    }

    .wrapper{
        grid-template-rows: 2.5% 35% 36% 1%;
    }

    .itop{
        position: relative;
        bottom: 1.5rem;
    }

     .mainwrapper{
         display: flex;
         flex-direction: row;
     }

     .wrap-instructor{
         margin-bottom: 10rem;
     }
   

  }


@media screen and (min-width:1224px){

    .about-wrapper{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 80%;
        max-width: 120rem;
        margin: 0 auto;
        margin-bottom: 7rem;
    }

    .about-article{
        order: 1;
    }

    .about-aside{
       order: 2;
    }

    .about-btn{
        display: block;
        width: 20%;
        min-width: 0px; 
        max-width: 300px;
    }

    .contact-logo{
        position: relative;
        bottom: 0.9rem;
    }


    .contact-wrapper{
        flex-direction:row;
    }

    .contact-form{
        order:2;
    }
    
    aside{
        order:1
    }

    .contact-footer{
        height: 42vh;
    }

    .contact-flex-info{
         margin-left:0;
      }
      
    .contact-googlemaps{
        margin-left:0;
    }

    .col1{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 33.33%;
        margin-top: 1rem;
    }

    .exercises-wrapper{
        display: flex;
        flex-wrap: wrap;

    }

    .exercises-footer{
        display: flex;
        margin-top: 2rem;
    }

    .mainwrapper{
        flex-direction: row;
    }

    .img-logo{
        position:relative;
        top:-1.5rem;
        left: 1rem;
    }

    .wrapper{
        grid-template-rows: 2.7% 40% 44% 3%;
    }

    .fitness-red{
        position: relative;
        top: -1rem;
    }

    .website__rights{
        position: relative;
        top: -1rem;
    }

    .rtop{
        position: relative;
        top: 2rem;
    }

    .etop{
        padding-top: 3rem;
    }

    .itop{
        position: relative;
        top: 0.8rem;
    }

    .ctop{
        display: flex;
        position: relative;
        top: 1rem;
    }

    .atop{
       padding-top: 1.2rem;
    }

    .exercises-mtop{
        padding-top: 10rem
    }

    .wrap-instructor{
        margin-bottom: 8rem;
        height: 90vh;
    }

    .h1instructor{
        padding-top: 1rem;
        font-size: 2.5rem;
    }

    .navbar-contact{
        position: relative;
        margin-right: 1.7rem;
    }

    .index-footer{
        height: 46vh;
    }

   .ins-width{
      transform: 1s;
   }

   .ins-width:hover{
       transform: scale(1.1);
   }

 

  
}

@media screen and (min-width:300px) and (max-width:576px){
    .hamburger{
       display:block;
       margin-left: 18rem;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(140deg);
    }

    .nav-menu{
        position: fixed;
        left:100%;
        top: 60px;
        gap: 0;
        flex-direction: column;
        background-color:#262626;
        width:100%;
        text-align:center;
        transition: 0.3s;
        z-index: 1;
    }

    .nav-item{
        margin: 6px 0;
        font-size: 1.2rem;
        font-weight: 600;
    }

    .nav-menu.active{
        left: 0;
    }

    .height-header{
        height: 12vh;
    }

    .footer__link--items{
        margin: 0;
        padding: 10px;
        width: 100%;
    }

    .img-logo{
        position:relative;
        top:0.1rem;
        left: 1rem;
    }

   
    .wrapper{
        grid-template-rows: 2% 25% 61% 10%;
    }

    .img-logo{
        position:relative;
        top:-1rem;
        left: 1rem;
    }


    .itop p{
        font-size: 1rem;
        position: relative;
        top: -0.1rem;
    }

    .rtop{
        flex-direction: column;
    }

    .rtop p{
        position: relative;
        top: -0.1rem;
    }

    .flex-nav{
        width: 100%;
        min-width: 25rem;
    }

    .contact-logo{
        position: relative;
        bottom: 1.4rem;
    }

    .contact-form{
        height: 95vh;
        position: relative;
        right: 3rem;
}

    .contact-flex{
        justify-content: center;
    }

    .firstname{
        margin-right: 3rem;
        font-size: 2rem;
    }

    .email{
        margin-right: 3rem;
    }

    .contact-footer{
        height: 60vh;
    }


    .itop{
        flex-direction: column;
        margin-top: 1rem;
    }

    .itop p{
        font-size: 1.5rem;
    }



    .atop{
        flex-direction: column;
        font-size: 1rem;
    }

    .atop p{
        flex-direction: column;
        font-size: 1.5rem;
    }

    .contactmtop{
        margin-top: 1rem;
    }

    .contact-footer{
        height: 50vh;
    }

    .etop{
        display: flex;
        flex-direction: column;
        margin-top: 2rem;
    }

    .contact-btn{
        min-width: 12vw;
    }



}